<!DOCTYPE html>
<html>
<head>
  <title>Help | Ruby on Rails Tutorial Sample App</title>
</head>
<body>
  <h1>Welcome to our Help Page</h1>
  <p>Thank you for visiting our help section!</p>
</body>
</html>